<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 animate-box">

							<%- include("alerts") -%>
							
					<h3>Entre em Contato</h3>
					<form action="/contacts" method="Post">
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="name">Nome</label>
								<input type="text" id="name" name="name" class="form-control" placeholder="Seu nome" value="<%= body.name %>">
							</div>
							
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="email">E-mail</label>
								<input type="text" id="email" name="email" class="form-control" placeholder="Seu endereço de e-mail" value="<%= body.email %>">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="message">Mensagem</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Escreve alguma coisa"><%= body.message %></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>

					</form>		
				</div>
				<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="gtco-contact-info">
						<h3>Informações de Contato</h3>
						<ul>
							<li class="address">R. João Batista Dalmedico, 623 - Recanto do Parque, Campinas - SP</li>
							<li class="phone"><a href="tel://(11)930231359">(11)930231359</a></li>
							<li class="email"><a href="diversidadedelivery@gmail.com.br">diversidadedelivery@gmail.com.br</a></li>
							<li class="url"><a href="https://www.diversidadedelivery.com">diversidadedelivery.com</a></li>
						</ul>
					</div>


				</div>
                <div class="col-md-5 col-md-push-1 animate-box">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.2342206099365!2d-47.09900298556216!3d-22.83082244090345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c6d6076d7e09%3A0xd65966c638a63542!2sR.%20Jo%C3%A3o%20Batista%20Dalm%C3%A9dico%2C%20623%20-%20Jardim%20S%C3%A3o%20Gon%C3%A7alo%2C%20Campinas%20-%20SP%2C%2013082-740!5e0!3m2!1ses-419!2sbr!4v1574554382969!5m2!1ses-419!2sbr" width="550" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
				</div>
			    </div>
				</div>
			</div>
		</div>
	</div>