       <!-- Footer-->
       <%- include("footer") -%>

	</div>
	<!-- setinha para subir-->
	<%- include("footer-gototop") -%>

	<!-- javascripts-->
	<%- include("footer-scripts") -%>

</body>

</html>